:root {
    --blue: #144692;
    --dark: #434343;
    --white: #fff;
}
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html, body {
    height: 100%;
    
    font-size: 16px;
}
#main {
    padding: 0;
    height: 100%;
    
}
section{
   min-height: 100%;
    width: 100%;   
    position: absolute;
    top: 0;
    left: 0;
}
.intro {
    padding: 20px;
}
.blue {
    background: var(--blue);
    color: var(--white);
}
.dark {
    background: var(--dark) !important;
    color: var(--white);
}
.secondary {
    background: var(--dark) !important;
    color: var(--white);
}
.dark .secondary {
    background:var(--blue);
    color: var(--white);
}
.main {
    background: var(--white);
    color: var(--dark);
}
.button {
    border-radius: 50px;
    margin-right: 20px;
    padding: 15px 35px;

}
.dark .button {
    border: 1px solid var(--white);
}
.choices img {
    margin-bottom: 20px;
}

.question-container {
    display: flex;
}
.hero {
    height: 100vh;
}
h1 {
    font-size: 3em;
    font-weight: 600;
    line-height: 4rem;

}
#home-slide {
    text-align: left;
}
.grid-container, .fluid, .dark {
  display: inline-grid;
  text-align: center;
}
a.cusine-type {
    border: 1px solid var(--white);
    background-color: var(--dark);
    color: var(--white);
    border-radius: 10px;
   margin: 12px 20px 12px 0px;
}

div.center-grid {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.grid-container, .fluid, .blue {
    display: inline-grid;
    text-align: center;
  }

  .img-responsive {
    display:block;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.box-header {
   
}
.box {
    background-color: white;
    border-radius: 15px;
    color: black;
    padding: 20px;
    font-weight: 500;
    text-align: start;

}
.box, h3 {
    font-size: 14px;

}

/* ---------------------------------
MEDIA QUERIES
----------------------------------*/
@media screen and (max-width: 39.9375em) {
    section {
        padding: 20px;
    }
    .hero {
        height: auto;
    }
    .img-responsive {
        height: auto;
    }
}